@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
  background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
  background-color: rgb(80, 0, 0);
  background-size: cover;
  background-position: center;
}
/*Title didplayed ta login page*/
.main_title{
  background-color:#00a2ff;
  width: 90%;
  text-align: center;
  border-radius: 0.5rem;
  color: #fff;
}
/*Home page/Login page */
.flexer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #ffff;
  border-radius: 0.5rem;
  margin: 0.2rem;
  padding: 1rem;
}
.text {
  padding: 1rem;
  font-size: larger;
  font-weight: 600;
}
.navflex {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row;
  /* background-color: aqua; */
}

/* Nabbar avator css */
.avatar {
  width: 2rem !important;
  height: 2rem !important;
}
/* profile page image css */
.profile {
  width: 8rem;
  height: 8rem;
}

/* search users display card */
.searchcard {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 2px solid black;
  border-radius: 0.5rem;
  margin: 0.5rem;
  transition: all 2s;
  overflow-x: scroll;
  cursor: pointer;
  /* overflow-y: scroll;
  overflow-x: scroll; */
}
.searchcard:hover {
  background-color: aqua;
}
.searchcard:hover img {
  border: 0.2px solid red;
}

::-webkit-scrollbar {
  width: 0.1rem;
}
.flexer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* loading shown when search result loading */

.roll1 {
  width: 8rem;
  height: 8rem;
  border: 4px solid rgb(173, 151, 151);
  border-radius: 5rem;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 3s;
  animation: rotate 2s infinite alternate;
}

.roll2 {
  width: 6rem;
  height: 6rem;
  border: 4px solid rgb(204, 172, 172);
  border-radius: 3rem;
  background-color: yellow;
  border-radius: 4rem;
  transition: all 5s;
  animation: rotate 3s infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    background-color: aqua;
  }
  to {
    transform: rotate(360deg);
    background-color: rgb(88, 88, 158);
  }
}

/* chat list card styling */

.chatcont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem;
  padding: 0.3rem;
  height: 3.4rem;
  width: 100%;
  border: 2px solid black;
  border-radius: 0.4rem;
  transition: all 1s;
  cursor: pointer;
}
.chatcont:hover .imgcont img {
  border: 2px solid rgb(255, 255, 255);
}
.chatcont:hover {
  background-image: linear-gradient( 109.6deg,  rgba(45,116,213,1) 11.2%, rgba(121,137,212,1) 91.2% );
  color: #fff;
}
.imgcont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailscont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.3rem;
}
/*Navbar at top of my chats*/
.chatsnavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  margin: 0.3rem;
}

.chatsnavbar .buttonwrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  background-color: gray;
  color: #fff;
  border-radius: 0.3rem;
  transition: all 5s;
}

.buttonwrap:hover .icon {
  color:#00a2ff;
  transform: translate(1, 2);
}
.buttonwrap button {
  margin: 0.2rem;
 
}
.buttonwrap i {
  margin: 0.2rem;
}

/* css for box showing chat list */

.allchats {
  height: 36rem;
  /* overflow-y: hidden; */
  /* overflow-y: scroll; */
  background-image: linear-gradient( 359.3deg,  rgba(196,214,252,1) 1%, rgba(187,187,187,0) 70.9% );
}
.allchats .chatlist {
  padding: 0.6rem;
  height: 28rem;
  border-radius: 0.5rem;
  border: 2px solid black;
  overflow-y: scroll;
}

/*Chat box related CSS*/
.chatmainbox {
  height: 36rem;
  border-radius: 0.6rem;
  border: 2px solid black;
 
}
.chatwrap{
  background-color: #fff;
  background-image: linear-gradient( 359.3deg,  rgba(196,214,252,1) 1%, rgba(187,187,187,0) 70.9% );

}
.messagebox {
  border-radius: 0.6rem;
  border: 2px solid black;
  height: 28rem;
  overflow-y: scroll;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.messagebox div {
  border: 2px solid black;
  border-radius: 0.8rem;
  padding: 0.5rem;
  width: 10rem;
}
.left {

  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(99,55,255,1) 0%, rgba(39,170,255,1) 90% );
  margin-right: 60%;
  margin-left: 1%;
  display: flex;
  border: 1px solid #fff !important;
  border-radius: 0.4rem !important;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #fff;
}
.left img{
  border: 2px solid #fff;
}
.right {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(39,170,255,1) 0%, rgba(99,55,255,1) 90% );
  margin-left: auto;
  margin-right: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #fff !important;
}
.chattext {
  display: flex;
  justify-content: space-between;
  margin: 0.6rem;
  padding: 0.1rem;
}
.iconwrap {
  border: 2px solid black;
  border-radius: 0.4rem;
  background-color: rgb(161, 161, 161);
  margin-right: 2rem;
}
.iconwrap .fa-eye {
  padding: 0.3rem;
}
.textbox {
  border: 2px solid black;
  border-radius: 0.4rem;
  height: 3.2rem;
 
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  
  display: flex;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(99,55,255,1) 0%, rgba(39,170,255,1) 90% );
  justify-content: space-around;
  align-items: center;
  margin-top: 0.2rem;
}
.textbox input {
  width: 80%;
  height: 2rem;
  border-radius: 0.3rem;
  padding: 0.2rem;
  margin: 1rem;
}
.textbox .sendbtn {
  padding: 0.3rem;
  border: 2px solid black;
  border-radius: 0.3rem;
  width: 18%;
  background-color: #fff;
  margin: 1rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textbox .sendbtn:hover {
  background-image: radial-gradient( circle farthest-corner at -2.6% 51.8%,  rgba(24,9,181,1) 0%, rgba(0,127,189,1) 90% );
  color: #fff;
}
/*Use to align loading to center*/
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Create group chat modal CSS*/
.modal2 {
  position: absolute;
  border: 4px solid black;
  width: 30rem;
  min-height: 15rem;
  border-radius: 0.4rem;
  top: 20%;

  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% );
}
/*Create chat button*/
.create_chat_btn{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,   rgba(116,182,247,1) 0%, rgba(171,102,255,1) 90% );
}
.create_chat_btn:hover{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% );
}
.modalbody {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  flex-direction: column;
  color: #fff;
}
.vis {
  display: block;
}
.nonvis {
  display: none;
}

.inputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.inputs input {
  margin: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 2px solid black;
  padding: 0.3rem;
  color: black;
}
.inputs button {
  width: 6rem;
  height: 2.5rem;
  padding: 0.2rem;
  background-color: antiquewhite;
  border-radius: 0.5rem;
  border: 2px solid black;
}
.closeicon {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 3rem;
  padding: 0.3rem;
  cursor: pointer;
  color: #fff;
}
.closeicon:hover {
  color: rgb(251, 255, 0);
}

/*Card inside search result of cretae group*/
.grpwrap {
  border: 2px solid black;
  padding: 0.2rem;
  border-radius: 0.5rem;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  margin: 0.2rem;
  cursor: pointer;
  color: #fff;
  background-color: #00a2ff;
}
/*Results of serach while creating group, heading styling*/
.srch_result{
   color: #00a2ff;
   font-weight: bolder;
}
/*Message shown wehn no users ar effoudn while creating group*/
.srch_msg
{
  border: 2px solid #004e7b;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
/*List of user shown while the user searching for making group, ther eshould  a bfix height for this conatiner*/
.srch_container{
  height: 10rem;
  overflow-y: scroll;
}
.grpwrap h5 {
  padding: 0.2rem;
  color: #fff;
}
.grpwrap img {
  border-radius: 1rem;
}

.grpwrap:hover {
  background-color: blueviolet;
}

/* css of section showing selected names */
.selected {
  border: 2px solid black;

  border-radius: 0.2rem;
  width: 10rem;
  background-image: linear-gradient( 109.6deg,  rgba(45,116,213,1) 11.2%, rgba(121,137,212,1) 91.2% );
  color: #fff;
}
.users2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.users2 h6 {
  background-color: palegoldenrod;
  padding: 0.1rem;
  width: 3rem;
  height: 1rem;
  font-size: 0.8rem;
  margin: 0.1rem;
  border-radius: 0.2rem;
}
.closeicon2 {
  padding: 0.1rem;
  background-color: blueviolet;
  height: 1rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  width: 1.2rem;
}

/*CSS for group modal*/
.newnamewrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/*CSS for exit button*/
.exit {
  padding: 0.5rem;
  background-color: red;
  color: #ffff;
  border-radius: 0.6rem;
  border: 2px solid #fff;
}

/* CSS for selected chat */

.selected {
  background-color: aqua;
}

/*typing animation styling*/
.typing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*Background image at home*/

.homeimg {
  /* height: 92vh !important; */
  width: 58rem !important;
  height: 30rem !important;
}
/*Bckgrounf=d image at home container*/
.homeimgcont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hometext {
  padding: 0.6rem;
  font-size: larger;
  font-weight: bolder;
  background-color: #00a2ff;
  border-radius: 0.5rem;
  margin: 0.4rem;
}

/*Video chatting CSS*/
/* video box */
.videocont{
  width: 40rem !important;
  height: 16rem;
  border: 2px solid red;
  border-radius: 0.6rem;
}

.prompter_container{
  border: 4px solid gray;
  margin: 0.2rem;
  padding: 0.2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00a2ff;
}

/*Prompter is box shown when uno chats are there!!*/
.prompter_container:hover{
  color: #fff;
}


/*For names dipslayed in notification*/
.notifier{
  border: 1px solid blue;
  padding: 0.3rem;
  margin: 0.4rem;
  color: red;
  border-radius:0.3rem;
}
.notifier:hover{
  background-color: #00a2ff;
}
.notifier_heading{
  padding: 0.2rem;
  margin: 0.1rem;
  text-align: center;
}

/*Footer CSS*/
.webbyadnan{
  color: #fff;
  margin-top: 0.5rem;
}

.footertext{
  color: #00a2ff;
}